{
    # debug
}

# https://caddyserver.com/docs/caddyfile/patterns#wildcard-certificates

*.${AIO_BASE_DOMAIN} *.${OTHER_BASE_DOMAIN} {

  @nextcloud host ${AIO_DOMAIN} 
  handle @nextcloud {
    reverse_proxy localhost:11000
  }

}

# *.${OTHER_BASE_DOMAIN} {
#   redir http://${AIO_BASE_DOMAIN}{uri}
# }

# https://${AIO_DOMAIN}:443 {
#   reverse_proxy localhost:11000
# }

# See https://github.com/nextcloud/all-in-one/blob/main/reverse-proxy.md
# Optional: get a valid certificate for the AIO interface
https://${AIO_DOMAIN}:8443 {
    reverse_proxy https://localhost:8080 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
