# copy this to .env and adjust as needed

export DOCKER=podman

# right for podman - adjust for docker
export DOCKER_SOCKET=/run/user/${UID}/podman/podman.sock
export DOCKER_HOST=unix://${DOCKER_SOCKET}

# should also in /etc/hosts if domain is 'local' only
export AIO_DOMAIN=nextcloud.local
# should be true if domain is 'local' only
export SKIP_DOMAIN_VALIDATION=true
