# copy this to .env and adjust as needed

DOCKER=podman

# right for podman - adjust for docker
DOCKER_SOCKET=/run/user/${UID}/podman/podman.sock
DOCKER_HOST=unix://${DOCKER_SOCKET}

# ipv4 external address (needed for port 8443 ?)
MY_IPV4_ADDR=192.168.10.139

# should also in /etc/hosts if domain is 'local' only
AIO_DOMAIN=nextcloud.local
# should be true if domain is 'local' only
SKIP_DOMAIN_VALIDATION=true
