# copy this to .env and adjust as needed

DOCKER=podman
PULL=true

# right for podman - adjust for docker
DOCKER_SOCKET=/run/user/${UID}/podman/podman.sock
DOCKER_HOST=unix://${DOCKER_SOCKET}

# ipv4 external address (needed for port 8443 ?)
MY_IPV4_ADDR=192.168.10.139

# should also in /etc/hosts if domain is 'local' only
AIO_DOMAIN=nextcloud.local

NEXTCLOUD_MOUNT=$PWD/backup

# host.containers.internal host.docker.internal
# TODO: not in use now
HOST_CONTAINER_INTERNAL=169.254.1.2
# ipv4 to ipv6 conversion: https://iplocation.io/ipv4-to-ipv6/169.254.1.2?IPv4Val=169.254.1.2
HOST6_CONTAINER_INTERNAL=::ffff:a9fe:102

# should be true if domain is 'local' only
SKIP_DOMAIN_VALIDATION=true
